.main-page {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  h1 {
    font-size: 2em;
    color: #6200ea;
    margin: 0;
  }
  .select-board-container {
    border: 2px solid #000; /* Black border with 2px thickness */
    padding: 10px;
    border-radius: 8px;
    background-color: #f4f4f4; /* Optional: Background color for contrast */
    display: flex;
    flex-direction: column;
  }
  .select-board-first {
    flex: 1;
  }
  
  .select-board-second {
    flex: 1;
  }
  .select-board-third {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Space between buttons */
    padding: 10px;
  }
  
  .tile-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
  }

  .tile-section-title {
    font-size: 15px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 1px; 
    text-align: center; 
  }
  .tile {
    width: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .tile img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
  }
  
  .tile:hover {
    transform: scale(1.05);
  }

  .tile.active {
    width: 35px;
    height: 50px;
  }
  
  .tile.inactive {
    width: 25px;
    height: 35px;
  }
  
 

  .remove-button, .calculate-button {
    width: 100px;           
    padding: 10px;          
    font-size: 10px;        
    margin: 0;              
    cursor: pointer;        
    border-radius: 15px;     
    border: none;           
    transition: background-color 0.3s ease;
  }
  .remove-button {
    background-color: #6200ea;
    color: white;
  }
  
  .remove-button:hover {
    background-color: #3700b3;
  }

  .calculate-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .calculate-button:hover {
    background-color: #45a049;
  }



  .display .tile-row {
    display: flex;
    justify-content: center;
    gap: 1px;
    margin: 5px 0;
  }

  .display .tile {
    width: 20px;
    height: 28px;
    pointer-events: none; 
  }

  .display{
    padding: 10px;
    border-radius: 8px;
    background-color: #818888; 
    display: flex;
    flex-direction: column;
  }