/* Modal Styling */
  .MuiModal-root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;  
  }
  
  #score-modal-title {
    font-size: 24px;
    margin-bottom: 10px;  
  }

  
  .modal-box button {
    background-color: #00796b;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .modal-box button:hover {
    background-color: #004d40;
  }
  .modal-box .tile-row {
    gap: 1px;
  }
  .modal-box .tile {
    pointer-events: none; 
    width: 20px;
    height: 28px;
  }
  
  .result-content {
    max-height: 250px;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  .result-item {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }